<hr />
<div class="auto-expire-5e">
    <h4 class="special-duration-header">
        Special Durations
        <a data-tooltip="auto-expire-5e.tooltips.duration.header">
            <i class="fas fa-circle-info"></i>
        </a>
        <a class="special-duration-control" data-action="add" data-tooltip="auto-expire-5e.tooltips.duration.add">
            <i class="far fa-plus-square"></i>
        </a>
    </h4>
    <ol class="special-durations form-group">
        {{#each effect.flags.auto-expire-5e.specialDurations}}
        <li class="special-duration flexrow">
            <select name="flags.auto-expire-5e.specialDurations.{{@index}}">
                {{selectOptions ../specialDurationOptions selected=.}}
            </select>
            <a class="special-duration-control" data-action="delete" data-index="{{@index}}"
                data-tooltip="auto-expire-5e.tooltips.duration.delete">
                <i class="fas fa-trash"></i>
            </a>
        </li>
        {{/each}}
    </ol>
</div>