{{log this}}
<fieldset class="auto-expire-5e">
    <legend>{{localize "AUTO-EXPIRE-5E.titleShort"}}</legend>
    <div>
        {{#each fields.triggers}}
        {{formGroup field value=value name=path localize=true}}
        {{/each}}
    </div>
</fieldset>
